:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
}
//Primary

$blue: hsl(223, 87%, 63%)

//Secondary

$pale Blue: hsl(223, 100%, 88%)
$light-Red: hsl(354, 100%, 66%)

// Neutral

$gray: hsl(0, 0%, 59%)
$very-Dark-Blue: hsl(209, 33%, 12%)